.wrapper {
  margin: 0 auto;
  width: 1160px;
  display: grid;
  grid-template-areas: 'header header header'
                         'nav main main';
  grid-template-rows: 100px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
}

body {
  background-color: #282828
}

.main {
  grid-area: main;
  background-color: #190061;
  box-shadow: 0 0 2px rgba(250, 250, 250, 0.3);
  border: 1px solid rgba(250, 250, 250, 0.3);
  border-radius: 20px;
  padding-top: 10px;
  padding-left: 20px;
  color: white;
}


